.container
    .footer
        .footer-wrapper
            hr
            p
                | &copy; · 2016 &nbsp;
                a(href="http://zhouchaowei.com") Wee
                |  ·

                //if viewHelper != null
                //    span  #{viewHelper.getResponseTime()}ms
                //
