nav.navbar.navbar-bright
    .container
        .navbar-header
            a.navbar-brand(href="/") Wee
        div#navbar
            ul.nav.navbar-nav.navbar-right
                li: a(href="/posts/archive") Blog
                li: a(href="/tags") Tags
                li: a(href="/about") About

